.homeText {
    position: absolute;
    top: 5%;
    font-size: 96px;
    left: 13%;
    font-family: 'Trebuchet MS';
}

.picPageTitleText {
    position: absolute;
    left: 50%;
    top: -5%;
    font-size: 96px;
    font-family: 'Trebuchet MS';
    font-weight: 900;
    transform: translate(-50%);
}

#australianshepherdpage h1{
    width: 59%;
}

.homepage {
    background-image: url("pictures/golden_retriever.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.dogDropBtn {
    background-color:steelblue;
    border: none;
    padding: 12px 24px;
    transition-duration: 0.2s;
    font-family: serif;
    font-size: 16px;
}

.dogDropdown {
    position: absolute;
    top: 50%;
    left: 13%;
    display: inline-block;
}

.dogDropContent {
    display: none;
    background-color: steelblue;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dogDropContent a {
    color: black;
    padding: 12px 36px;
    display: block;
    text-decoration: none;
}

.dogDropContent a:hover {
    background-color: #5f9cce;
}

.dogDropdown:hover .dogDropContent {
    display: block;
}

.dogDropdown:hover .dogDropBtn {
    background-color: #092e72;
}

.dogGameButton {
    background-color:steelblue;
    border: none;
    padding: 12px 24px;
    position: absolute;
    top: 50%;
    right: 10%;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none; 
    font-family: serif;
}

.dogGameButton:hover {
    background-color: #092e72;
}

.backButton {
    background-color:steelblue;
    border: none;
    padding: 12px 24px;
    position: absolute;
    top: 10%;
    left: 10%;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none;
    border: #092e72 solid 1px;
}

.backButton:hover {
    background-color: #5f9cce;
    cursor: pointer;
}

.dogPic {
    width: 300px;
    height: 200px;
    position: absolute;
}

.dogPic1 {
    top: 25%; left: 7.5%;
}
.dogPic2 {
    top: 25%; left: 29.5%;
}
.dogPic3 {
    top: 25%; left: 51.5%;
}
.dogPic4 {
    top: 25%; left: 73.5%;
}
.dogPic5 {
    top: 60%; left: 7.5%;
}
.dogPic6 {
    top: 60%; left: 29.5%;
}
.dogPic7 {
    top: 60%; left: 51.5%;
}
.dogPic8 {
    top: 60%; left: 73.5%;
}

.puppyPizza {
    width: 450px;
    height: auto;
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translate(-50%,-50%);
    color: white;
}

.puppyPizza p {
    position: absolute;
    left: -50px;
    top: 225px;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    font-weight: bold;
}

.convert-button-goto {
    width: 450px;
    height: auto;
    position: absolute;
    left: 70%;
    top: 55%;
    transform: translate(-50%,-50%);
    color: white;
}

.convert-button-goto p {
    position: absolute;
    left: 100px;
    top: 225px;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

/*Converter Stuff*/
.convertInput {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
}

.convertInputBackground {    
    transform: translate(-50%,-50%);
    height: 300px;
    width: 200px;
    border:#229F00 solid 15px;
    background: #11DAAB;
    float: left;
    border-radius: 35%;
}

.convertInput #secondConverter {
    position: relative;
    left: 250px;
}

.convertInput input {
    position: relative;
    top: 80px;
    left: 15px;
}

.convertInput p {
    font-weight: bold;
    color: #229F00;
    position: relative;
    left: 15px;
    top: 75px;
}

.convertInput h2 {
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translate(-50%,-50%);
}

.convertInput button {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    background: cornflowerblue;
}

.converterPage h1 {
    text-align: center; 
    font-size: 84px; 
}

#animalYears {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(197, 255,255);
    text-align: center;
    font-size: 30px;
}
/*End of Converter Stuff*/

/*Media Queries (Make it look good on phones)*/
@media (max-width: 700px) {
    .homeText {
        left: 50%;
        top: -5%;
        transform: translate(-50%);
    }

    .picPageTitleText {
        font-size: 48px;
        top: 4.5%;
    }

    .dogPic {
        width: 150px;
        height: 100px;
    }

    .dogPic1 {
        top: 20%; left: 8%;
    }
    .dogPic2 {
        top: 20%; left: 55%;
    }
    .dogPic3 {
        top: 40%; left: 8%;
    }
    .dogPic4 {
        top: 40%; left: 55%;
    }
    .dogPic5 {
        top: 60%; left: 8%;
    }
    .dogPic6 {
        top: 60%; left: 55%;
    }
    .dogPic7 {
        top: 80%; left: 8%;
    }
    .dogPic8 {
        top: 80%; left: 55%;
    }

    .backButton {
        top: 3%;
        left: 8%;
        padding: 6px 12px;
    }

    #cutepuppiespage .picPageTitleText {
        font-size: 40px;
        margin: 0;
        text-align: center;
    }

    .convert-button-goto {
        top: 115%;
        left: 50%;
        width: 325px;
        height: auto;
    }

    .convert-button-goto p {
        top: 150px;
        font-size: 18px;
        left: 50%;
        transform: translate(-50%);
    }

    .puppyPizza {
        width: 325px;
        height: auto;
        left: 50%;
    }

    .puppyPizza p {
        font-size: 18px;
        left: 50%;
        top: 175px;
        transform: translate(-50%);
        width: 100%;
    }

    .gamePage .picPageTitleText {
        top: 10%;
        width: 100%;
        left: 65%;
    }
    
    .converterPage h1 {
        font-size: 36px;
        width: 100%;
        top: 10%
    }

    .convertInput {
        left: 50%;
        top: 50%;
        width: 0px;
    }

    .convertInput #secondConverter {
        position: relative;
        left: 0px;
        top: 75px;
    }
    
    .convertInput h2 {
        position: absolute;
        top: 180px;
    }

    .convertInput button {
        top: 90%;
        left: 0px;
    }

    #animalYears {
        position: relative;
        top: 1000px;
    }

    #australianshepherdpage h1 {
        font-size: 32px;
        width: 39%;
        top: 2%;
    }
}

/*Game stuff after this point*/

#pointCounter {
    position: absolute;
    top: 30px;
    left: 50px;
}

#gameCover {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 42.5%;
    left: 33%;
    background-color: wheat;
}

#gameEndCover {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 42.5%;
    left: 33%;
    background-color: #00b609;
    display: none;
}

#startGame {
    position: absolute;
    top: 128px;
    left: 208px;
    padding: 12px 24px;
    background-color: crimson;
    transition-duration: 0.4s;
    border: black solid 2px;
}

#startGame:hover {
    background-color: rgb(192, 58, 84);
}

#timeCounter {
    position: absolute;
    top: 30px;
    left: 320px;
}

#endPointsText {
    color:#0030b6; 
    position: absolute; 
    top: 25%; 
    left: 50%; 
    transform: translate(-50%);
}

.treat {
    position: absolute;
    left: -100px;
    top: -500px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#retryGame {
    position: absolute;
    padding: 12px 24px;
    background-color: #092e72;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    border: #000000 solid 1px;
    transition-duration: 0.4s;
}

#retryGame:hover {
    background-color: rgb(21, 21, 187);
}

#canvasRep {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 42.5%;
    left: 33%;
}